<div class="container">
    <div class="row pt-4 pb-2">
        <h1>Settings</h1>
    </div>
    <app-balance></app-balance>
</div>
<app-dash-nav></app-dash-nav>



<nb-card>
    <nb-card-body>
  
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Profile">
            <app-profile></app-profile>
        </nb-tab>
        <nb-tab tabTitle="Paschange">
            <app-paschange></app-paschange>
          </nb-tab>
          <nb-tab tabTitle="Wallets">
            <app-wallets></app-wallets>
          </nb-tab>
      </nb-tabset>
  
    </nb-card-body>
  </nb-card>
<router-outlet></router-outlet>